div.mbs-folder-list-ctrl div.list-group a.list-group-item > span.folderName {
    margin-left:    5px;
}
div.mbs-folder-list-ctrl div.list-group a.list-group-item > span.glyphicon.golden {
    color: Goldenrod
}
div.mbs-file-list-ctrl div.panel-heading > span.glyphicon.golden {
    color: Goldenrod
}
div.mbs-file-list-ctrl div.panel-heading > span.folderName {
    margin-left:    5px;
}
div.mbs-file-list-ctrl button.mbs-back-btn {
    padding: 2px;
    margin-top: -5px;
    margin-bottom: 10px;
}
div.mbs-file-list-ctrl button.mbs-zip-btn.disabled {
    background-color: gray;
}
div.mbs-file-list-ctrl button.mbs-zip-btn {
    padding: 2px;
    margin-top: -5px;
    margin-bottom: 10px;
}
div.mbs-file-list-ctrl div.mbs-scrollbox {
    max-height: 300px;
    overflow-y: auto;
}

